<div id="consent">
  <p><input type="checkbox" id="q1" />I will be presented with 2 symbols and have to pick one of them.</p>
  <p><input type="checkbox" id="q2" />I am using the 1 key to choose the left symbol and the 0 key to choose the right one.</p>
  <p><input type="checkbox" id="q3" />I will know ahead of time which symbol will be correct and which will be incorrect.</p>
  <p><input type="checkbox" id="q4" />Any given symbol will always be correct or incorrect.</p>
  <p><input type="checkbox" id="q5" />I will have to learn through trial-and-error which symbols have a higher chance of being correct.</p>
  <p><input type="checkbox" id="q6" />The better I do, the faster the experiment will be over and the bigger my bonus will be.</p>
    <button type="button" id="submit">Submit Answers</button>
</div>
